cerboGX-nodeRED-night-flow.json
[{"id":"bd582a0901391daa","type":"tab","label":"CerboGX-sunrise/sunset","disabled":false,"info":"This flow is written to control the display of a device using the Node-RED platform. It sets the display to turn on for 60 seconds at sunset and remain on full time at sunrise. If Node-RED is already installed locally on the device, the ssh module is not necessary.\n\nRequirements:\n\n    node-red-contrib-sunevents\n    node-red-contrib-ssh-v3","env":[]},{"id":"0cea217952805a0a","type":"debug","z":"bd582a0901391daa","name":"debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":240,"wires":[]},{"id":"940eecd7e5797875","type":"inject","z":"bd582a0901391daa","name":"Display on","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sunevent","payload":"sunrise","payloadType":"str","x":380,"y":280,"wires":[["fdcfe67c1c586619"]]},{"id":"c9f577c7892f2f85","type":"inject","z":"bd582a0901391daa","name":"Display Off","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sunevent","payload":"sunset","payloadType":"str","x":380,"y":320,"wires":[["fdcfe67c1c586619"]]},{"id":"fdcfe67c1c586619","type":"function","z":"bd582a0901391daa","name":"sunrise/sunset","func":"if (msg.topic !== \"sunevent\") {\n    return msg;\n}\n\nif (msg.payload === 'sunset') {\n    msg.payload = 'sed -i \"s/<DisplayOff type=\\\\\"i\\\\\" default=\\\\\"600\\\\\" silent=\\\\\"False\\\\\">.*<\\\\/DisplayOff>/<DisplayOff type=\\\\\"i\\\\\" default=\\\\\"600\\\\\" silent=\\\\\"False\\\\\">60<\\\\/DisplayOff>/g\" /data/conf/settings.xml && pkill -f \"/usr/bin/python3 -u /opt/victronenergy/localsettings/*\"';\n} else if (msg.payload === 'sunrise') {\n    msg.payload = 'sed -i \"s/<DisplayOff type=\\\\\"i\\\\\" default=\\\\\"600\\\\\" silent=\\\\\"False\\\\\">.*<\\\\/DisplayOff>/<DisplayOff type=\\\\\"i\\\\\" default=\\\\\"600\\\\\" silent=\\\\\"False\\\\\">0<\\\\/DisplayOff>/g\" /data/conf/settings.xml && pkill -f \"/usr/bin/python3 -u /opt/victronenergy/localsettings/*\"';\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":240,"wires":[["f9695fb7f8ca339f"]]},{"id":"f9695fb7f8ca339f","type":"ssh-v3","z":"bd582a0901391daa","name":"ssh-cerbo","conf":"4de45a3e2b1cc943","debug":false,"x":780,"y":240,"wires":[["0cea217952805a0a"]]},{"id":"41993267edf7ee05","type":"suncron","z":"bd582a0901391daa","name":"","location":"65be61eb94be4117","sunEventType":"sunrise","payload":"sunrise","payloadType":"str","topic":"sunevent","offset":0,"x":390,"y":160,"wires":[["fdcfe67c1c586619"]]},{"id":"2b5208f1cb9e077b","type":"suncron","z":"bd582a0901391daa","name":"","location":"65be61eb94be4117","sunEventType":"sunset","payload":"sunset","payloadType":"str","topic":"sunevent","offset":0,"x":390,"y":220,"wires":[["fdcfe67c1c586619"]]},{"id":"4de45a3e2b1cc943","type":"ssh-conf","ssh":"","name":"","userlabel":""},{"id":"65be61eb94be4117","type":"suncron-location","name":"alameda","lat":"37.7799","lon":"-122.2822"}]
