cerboGX-nodeRED-night-flow.json
[{"id":"bd582a0901391daa","type":"tab","label":"CerboGX-sunrise/sunset","disabled":false,"info":"This flow is written to control the display of a device using the Node-RED platform. It sets the display to turn on for 60 seconds at sunset and remain on full time at sunrise. If Node-RED is already installed locally on the device, the ssh module is not necessary.\n\nRequirements:\n\n    node-red-contrib-sunevents\n    node-red-contrib-ssh-v3","env":[]},{"id":"bb50d9a961c07fa5","type":"sun events","z":"bd582a0901391daa","testmode":false,"verbose":"N","topic":"sunevent","name":"sunevent","x":480,"y":200,"wires":[["fdcfe67c1c586619"],[]]},{"id":"ab1011d4f190493b","type":"signalk-subscribe","z":"bd582a0901391daa","name":"navigation.position","mode":"sendAll","flatten":true,"context":"vessels.self","path":"navigation.position","source":"","period":1000,"x":290,"y":200,"wires":[["bb50d9a961c07fa5"]]},{"id":"0cea217952805a0a","type":"debug","z":"bd582a0901391daa","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":200,"wires":[]},{"id":"940eecd7e5797875","type":"inject","z":"bd582a0901391daa","name":"sunrise","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sunrise","payloadType":"str","x":450,"y":280,"wires":[["fdcfe67c1c586619"]]},{"id":"c9f577c7892f2f85","type":"inject","z":"bd582a0901391daa","name":"sunset","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sunset","payloadType":"str","x":450,"y":320,"wires":[["fdcfe67c1c586619"]]},{"id":"fdcfe67c1c586619","type":"function","z":"bd582a0901391daa","name":"sunrise/sunset","func":"if (msg.payload === 'sunset') {\n    msg.payload = 'sed -i \"s/<DisplayOff type=\\\\\"i\\\\\" default=\\\\\"600\\\\\" silent=\\\\\"False\\\\\">.*<\\\\/DisplayOff>/<DisplayOff type=\\\\\"i\\\\\" default=\\\\\"600\\\\\" silent=\\\\\"False\\\\\">60<\\\\/DisplayOff>/g\" /data/conf/settings.xml && pkill -f \"/usr/bin/python3 -u /opt/victronenergy/localsettings/*\"';\n} else if (msg.payload === 'sunrise') {\n    msg.payload = 'sed -i \"s/<DisplayOff type=\\\\\"i\\\\\" default=\\\\\"600\\\\\" silent=\\\\\"False\\\\\">.*<\\\\/DisplayOff>/<DisplayOff type=\\\\\"i\\\\\" default=\\\\\"600\\\\\" silent=\\\\\"False\\\\\">0<\\\\/DisplayOff>/g\" /data/conf/settings.xml && pkill -f \"/usr/bin/python3 -u /opt/victronenergy/localsettings/*\"';\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":200,"wires":[["adb95930564dbb82"]]},{"id":"adb95930564dbb82","type":"ssh-v3","z":"bd582a0901391daa","name":"","conf":"","debug":false,"x":890,"y":200,"wires":[["0cea217952805a0a"]]}]